
button {
    margin-left: 10px;
}

.container {
    position: absolute;
    margin-top: 125px;
    padding-bottom: 30px;
}

#empty-results {
    font-style: italic;
}

input {
    height: auto;
}

.input-group {
    margin: 50px 0px;
}

#recent-searches {
    font-size: large;
    font-weight: bold;
    margin-top: 75px;
    
    :not(&){
        font-weight: initial;
    }

    div {
        height: 50px;
        line-height: 50px;
    }
}

@media screen and (max-width: 800px) {
    input::placeholder{
        font-size: 0.73rem;
    }
}

// to reset search box when input is in focus
@media screen and (max-height: 320px) {
    .container {
        margin-top: 65px;
    }
    .input-group {
        margin: initial;
        margin-bottom: 15px;
    }
}