@import '../variables.scss';

.active {
    background-color: $hhh-medium-green;
    color: white;
}
   
.header {
    position: fixed;
    width: 100%;
    z-index: 50;
}

.loaded-component {
    padding: 105px 0px 25px 0px;
    
}

.nav {
    height: 40px;
}

.nav-link {
    font-weight: bold;
    font-size: large;
}

#surprise-tab {
    transition: background-color .1s ease-in-out;
  }
  
#surprise-tab:active { // make tab flash when clicked 
    background-color: $hhh-medium-green;
}

ul {
    border-bottom: 1px solid lightgray;
}



@media screen and (max-width: 800px) { 
    .nav-link {
        font-size: large;
    }
}