
<div class="header">
  <app-header></app-header>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item" [class.active]="activeTab[0]" >
      <a class="nav-link" (click)="switchComponent(MainComponent.List)">Full List</a>
    </li>
    <li class="nav-item" [class.active]="activeTab[1]" >
      <a class="nav-link" (click)="switchComponent(MainComponent.Search)">Search</a>
    </li>
    <li class="nav-item" [class.active]="activeTab[2]" id="surprise-tab">
      <a class="nav-link" (click)="getRandomRecipe()">Surprise Me</a>
    </li>
  </ul>
</div>

<div 
  [ngSwitch]="selectedComponent"
  class="loaded-component"
>
  <app-search-page 
    *ngSwitchCase="MainComponent.Search"
    (displayRecipe)="displayRecipe($event)"
  ></app-search-page>
  <app-full-list 
    *ngSwitchCase="MainComponent.List"
    (displayRecipe)="displayRecipe($event)"
  ></app-full-list>
  <app-recipe 
    *ngSwitchCase="MainComponent.Recipe"
    [recipe]=selectedRecipe
  ></app-recipe>
</div>

<app-footer></app-footer>
