@import '../../../variables.scss';

[aria-expanded="true"] {
    .open-icon {
        transform: translateY(5px) rotate(90deg);
    }
}

.letter {
    font-weight: bold;
    font-size: large;
    color: $hhh-medium-green;
}

li {
    outline: none;
}

.not-found {
    margin-left: 40px;
    font-style: italic;
}

.open-icon {
    fill: $hhh-medium-green;
}

svg {
    margin-right: 5px;
}
