
.container {
    padding: 25px 0px;
}

img {
    width: 200px;
    margin: 20px 0px 50px 0px;
}

#instructions {
    margin-top: 25px;

    & ~ p {
        width: 75%;
    }
}


@media screen and (max-width: 800px) {
    h3 {
        text-align: center;
    }

    img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    li {
        font-size: medium;
    }

    #instructions {
        margin-top: 30px;
    
        & ~ p {
            width: 80%;
            font-size: medium;
        }
    }

    h6, ul, p {
        margin-left: 20px;
    }
}