<div class="container">
<h1>{{ recipe.strDrink }}</h1>
<img [src]="recipe.strDrinkThumb">


<h4 id="ingredients">Ingredients</h4>
<ul>
    <li *ngIf="recipe.strIngredient1">{{ recipe.strMeasure1 }} {{ recipe.strIngredient1 }}</li>
    <li *ngIf="recipe.strIngredient2">{{ recipe.strMeasure2 }} {{ recipe.strIngredient2 }}</li>
    <li *ngIf="recipe.strIngredient3">{{ recipe.strMeasure3 }} {{ recipe.strIngredient3 }}</li>
    <li *ngIf="recipe.strIngredient4">{{ recipe.strMeasure4 }} {{ recipe.strIngredient4 }}</li>
    <li *ngIf="recipe.strIngredient5">{{ recipe.strMeasure5 }} {{ recipe.strIngredient5 }}</li>
    <li *ngIf="recipe.strIngredient6">{{ recipe.strMeasure6 }} {{ recipe.strIngredient6 }}</li>
    <li *ngIf="recipe.strIngredient7">{{ recipe.strMeasure7 }} {{ recipe.strIngredient7 }}</li>
    <li *ngIf="recipe.strIngredient8">{{ recipe.strMeasure8 }} {{ recipe.strIngredient8 }}</li>
    <li *ngIf="recipe.strIngredient9">{{ recipe.strMeasure9 }} {{ recipe.strIngredient9 }}</li>
    <li *ngIf="recipe.strIngredient10">{{ recipe.strMeasure10 }} {{ recipe.strIngredient10 }}</li>
    <li *ngIf="recipe.strIngredient11">{{ recipe.strMeasure11 }} {{ recipe.strIngredient11 }}</li>
    <li *ngIf="recipe.strIngredient12">{{ recipe.strMeasure12 }} {{ recipe.strIngredient12 }}</li>
    <li *ngIf="recipe.strIngredient13">{{ recipe.strMeasure13 }} {{ recipe.strIngredient13 }}</li>
    <li *ngIf="recipe.strIngredient14">{{ recipe.strMeasure14 }} {{ recipe.strIngredient14 }}</li>
    <li *ngIf="recipe.strIngredient15">{{ recipe.strMeasure15 }} {{ recipe.strIngredient15 }}</li>
</ul>

<h4 id="instructions">Instructions</h4>
<p>{{ recipe.strInstructions }}</p>

<!-- video -->
</div>